<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>UsuariosController</display-name>
    <servlet-name>UsuariosController</servlet-name>
    <servlet-class>nombredominio.controllers.UsuariosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuariosController</servlet-name>
    <url-pattern>/UsuariosController</url-pattern>
  </servlet-mapping>
  <display-name>crud</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthController</display-name>
    <servlet-name>AuthController</servlet-name>
    <servlet-class>nombredominio.controllers.AuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthController</servlet-name>
    <url-pattern>/AuthController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>peliculasDAO</display-name>
    <servlet-name>peliculasDAO</servlet-name>
    <servlet-class>nombredominio.modelsDAO.peliculasDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>peliculasDAO</servlet-name>
    <url-pattern>/peliculasDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeliculaController</display-name>
    <servlet-name>PeliculaController</servlet-name>
    <servlet-class>nombredominio.controllers.PeliculaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeliculaController</servlet-name>
    <url-pattern>/PeliculaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerieController</display-name>
    <servlet-name>SerieController</servlet-name>
    <servlet-class>nombredominio.controllers.SerieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerieController</servlet-name>
    <url-pattern>/SerieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentalesController</display-name>
    <servlet-name>DocumentalesController</servlet-name>
    <servlet-class>nombredominio.controllers.DocumentalesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentalesController</servlet-name>
    <url-pattern>/DocumentalesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentalController</display-name>
    <servlet-name>DocumentalController</servlet-name>
    <servlet-class>nombredominio.controllers.DocumentalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentalController</servlet-name>
    <url-pattern>/DocumentalController</url-pattern>
  </servlet-mapping>
</web-app>